body {
    background-color: #e4fde1;
}

header {
    background-color: #4e578b;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    height: 60px;
    width: auto;
}

.hero_logo {
    height: 300px;
    width: auto;
}